@import (reference) './vars.less';
@import (reference) './mixin.less';


.app {
    height: 100%;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: @size-nav-width;

   .nav, .aside {
        float: left;
    }
}

.header-side {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: @size-nav-width + @size-aside-width;

   .nav, .aside {
        float: left;
    }
}



.content {
    //margin-left: @size-nav-width + @size-aside-width;
    margin-left: @size-nav-width;
    padding: @content-vertical @content-horizontal;
    min-height: calc(~'100% -' @size-footer-height + @content-horizontal);
    overflow-x: hidden;
    overflow-y: auto;
    .animation(fade-in-down 0.6s 0.6s both);
}

.content-category, .content-tags {
    //margin-left: @size-nav-width + @size-aside-width;
    margin-left: @size-nav-width;
    //padding: @content-vertical @content-horizontal;
    min-height: calc(~'100% -' @size-footer-height + @content-horizontal);
    overflow-x: hidden;
    overflow-y: auto;
    .animation(fade-in-down 0.6s 0.6s both);
}
.content-article, .content-author {
    margin-left: @size-nav-width + @size-aside-width;
    //margin-left: @size-nav-width;
    //padding: @content-vertical @content-horizontal;
    min-height: calc(~'100% -' @size-footer-height + @content-horizontal);
    overflow-x: hidden;
    overflow-y: auto;
    .animation(fade-in-down 0.6s 0.6s both);
}
.clearfix:after {
    content: "\200B";
    display: block;
    height: 0;
    clear: both;
}
.vm {
    vertical-align: middle;
}

.comment-tips {
    color: @color-muted;
    font-size: 14px;
    text-align: center;
}
.comments {
		padding : 15px 30px 42px 30px
}


.keyframes(fade-in; {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }    
});
.keyframes(fade-in-down, {
    from {
        opacity: 0;
        .transform(translate3d(0, -10px, 0));
    }
    to {
        opacity: 1;
        .transform(none);
    }    
});
.keyframes(fade-in-left, {
    from {
        opacity: 0;
        .transform(translate3d(10px, 0, 0));
    }
    to {
        opacity: 1;
        .transform(none);
    }    
});

@media screen and (max-width: @size-mobile-screen-width) {
    .header, .header-side {
        position: none;
        position: static;
        width: auto;

        .nav, .aside {
            float: none;
        }
    }
    .content, .content-author {
        margin-left: 0;
        padding: 10px 15px;
    }
    
		.content-article {
        margin-left: 0;
        //padding: 10px 15px;
    }
		.content-category, .content-tags {
        margin-left: 0;
        //padding: 10px 15px;
    }
}
