@import (reference) './vars.less';
.card {
	margin-top: 2em;
}

.author {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
			position: relative;
			width: calc(33.33333% - 5em);
			margin: 2.5em 0 0 2.5em;
}

.author-avatar-card {
    a {
        display: inline-block;
    }
    img {
				padding: 1em 1em;	
        margin: 0 auto;
        display: block;
        width: 240px;
        height: 240px;
        border-radius: 100%;
        -webkit-transition: transform 0.2s ease;
        -o-transition: transform 0.2s ease;
        transition: transform 0.2s ease;

        &:hover {
            -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
            -o-transform: scale(1.1);
            transform: scale(1.1);
        }
    }
}

.author:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
    border-radius: 5px 5px 0 0;
}

.container {
    padding: 2px 16px;

}


		@media screen and (max-width: 1280px) {

			.card {
				margin: -1.25em 0 0 @size-nav-width;
			}

				.card > .author {
					width: calc(33.33333% - 5em);
					margin: 1.25em 0 0 1.25em;
				}

		}

		@media screen and (max-width: 980px) {

			.card {
				margin: 0;
			}

				.card > .author {
					width: calc(50% - 10em);
					margin: 2.5em 0 0 2.5em;
				}

		}

		@media screen and (max-width: 736px) {

			.card {
				margin: 0;
			}

				.card > .author {
					width: calc(50% - 6em);
					margin: 1.25em 0 0 1.25em;
				}


		}

		@media screen and (max-width: 480px) {

			.card {
				margin: 0;
			}

				.card > .author {
					width: 100%;
					margin: 1.25em 0 0 0;
				}

		}
