@import (reference) './vars.less';

.category-list {
    padding-left: 1.75em;

    a {
        color: #4a4a4a;

        &:hover {
            color: @color-hover;
        }
    }
}
.category-list-count {
  margin-left: 1em;
  padding: 0.2em 0.4em;
  font-size: 85%;
  background-color: rgba(27,31,35,0.05);
  border-radius: 3px;
}

.category-header{
    font-size: 26px;
		padding: 2em 0 2em 2em;
		-webkit-background-size: cover; /* pour anciens Chrome et Safari */
		background-size: cover; /* version standardisée */
}

.category-body {
    padding: @content-vertical @content-horizontal;
}


@media screen and (max-width: @size-mobile-screen-width) {
    .category-header {
        font-size: 20px;
				padding: 2em 0 1em 1em;
			}

		.category-body {
			padding: 0em;
		}
}
