@import (reference) './vars.less';

.tags-header{
    font-size: 26px;
		padding: 2em 0 2em 2em;
		-webkit-background-size: cover; /* pour anciens Chrome et Safari */
		background-size: cover; /* version standardisée */
}

.tags-body {
    padding: @content-vertical @content-horizontal;
}
.article-tag-list {
    font-size: 0.75em;
    list-style-type: none;
}

.tag-wrap {
    margin-top: 20px;
}

.tag-box {
	margin-top: 20px;
	border-bottom: 1px solid #eef2f8;
}


.tag {
    display:        inline-block;
    background:     #fff;
    width:          auto;
    height:         auto;
    border-radius:  3px;
    cursor:         pointer;
    margin:         0;
    margin-right:   4px;
    margin-bottom:  7px;
}

// Colors variant
.tag--default {
    @include tag-color-variant(map-get($colors, light));
}

.tag--success {
    @include tag-color-variant(map-get($colors, success));
}

.tag--primary {
		color: #349ef3!important;
    border: 1px solid #349ef3;
}

.tag--danger {
    @include tag-color-variant(map-get($colors, danger));
}

// Size variant
.tag--default {
    @include tag-size-variant(map-get($font-size, small), 4.5px 15px);
}

.tag--small {
		padding: 2px 10px;
}
