<div id="content " class="content-category">
	<header class="category-header" style="background-image: url('/blog/images/<%- site.data.categories.header[page.category] ||site.data.categories.header.default %>')">
			<h1 itemprop="name">
					<%= site.data.categories.name[page.category] %>
			</h1>
	</header>
	<section class="category-body">
		<%- partial('_partial/articles') %>
	</section>
</div>
