<div id="content " class="content">
<div>
	<center>
		<div style='margin-bottom: 40px;'>
			<h1>Speed up Me<br /></h1>
		</div>
    <p>The blog where you can find all you need to speed up your developpement.
From Deep Learning to Big Data and by using hardware accelerators or software
optimisations, you will learn tips and tricks to unleash the full potential of your intensive processing
algorithms. Publishers of this blog are experts in their domains and
generously share their expertise in their posts. </p>
<p> Good reading ! </p>
	</center>
</div>
<section class="tiles">
    <%  site.categories.sort('name').forEach(function(item, index){ %>
        <%- partial('_partial/categories', {item: item, index: index}) %>
    <% }); %>
</section>

<% if (page.total > 1){ %>
<nav class="page-nav">
    <%- paginator({
      prev_text: '&laquo; ' + __('prev'),
      next_text:  __('next') + ' &raquo;'
    }) %>
</nav>
<% } %>
</div>

