<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8" />

    <%
    var title = page.title;
    if( is_archive() ) {
        title = __('archive_a');
        if( is_month() ) {
            title += ': ' + page.year + '/' + page.month;
        } else if( is_year() ) {
            title += ': ' + page.year;
        }
    } else if( is_category() ) {
            title = __('category') + ': ' + page.category;
    } else if( is_tag() ) {
        title = __('tag') + ': ' + page.tag;
    }
    %>

    <%
    var description = config.description;
    if( is_post() ) {
        description = strip_html(page.content).substr(0, 250);
    }
    %>



    <title><% if( title ) { %><%= title %> | <% } %><%= config.title %></title>
    <meta name="author" content="<%= config.author %>" />
    <meta name="version" content="1.0.0" />
    <meta name="keywords" content="<%= config.keywords %>" />
    <meta name="description" content="<%= description %>" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
		<meta property="og:image" content="<%=  config.home_image  %>" />

    <% if( theme.rss ) { %>
    <link rel="alternate" href="<%- theme.rss %>" title="<%= config.title %>" type="application/atom+xml">
    <% } %>
    <% if( theme.favicon ) { %>
    <link rel="icon" href="<%- theme.favicon %>">
    <% } %>

		<% if (theme.google_analytics){ %>
		<script>
				(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
					m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', '<%= theme.google_analytics %>', 'auto');
			ga('send', 'pageview');
		</script>
		<% } %>

    <%- css('css/style') %>
</head>
<body>

    <div class="app">
        <%- partial('_partial/header') %>
					<%- body %>
        <%- partial('_partial/footer') %>
    </div>

    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.9.0/jquery.min.js"></script>
    <% if( is_post() ) { %>
    <script type="text/javascript" src="/js/scrollspy.min.js"></script>
    <% } %>
    <script type="text/javascript">
        $(function() {
            var nodes = {
                nav: $('#nav'),
                aside: $('#aside'),
                navTags: $('#nav-tags')
            };

            $('#open-panel, #aside-mask').on('click', function() {
                nodes.aside.toggleClass('panel-show');
            });
            $('#nav-tag').on('click', function(event) {
                event.preventDefault();console.log(nodes.navTags.attr('class'))
                nodes.navTags.toggleClass('tag-show');console.log(nodes.navTags.attr('class'))
            })/*.hover(function() {
                nodes.navTags.addClass('tag-show');
            }, function() {
                nodes.navTags.removeClass('tag-show');
            });*/

            <% if (is_post()) { %>
            $(document.body).scrollspy({target: '#aside-inner'});
            <% } %>
        });
    </script>

</body>
</html>
