<div id="article" class="content-article">
<%- partial('_partial/article', {post: page, view: true}) %>

<% if( theme.disqus.enable && page.comments ) { %>
<%- partial('_partial/comments', {post: page}) %>
<% } %>
</div>
