<div id="content " class="content-tags">
	<header class="tags-header" style="background-image: url('/blog/images/<%- site.data.categories.header[page.category] ||site.data.categories.header.default %>')">
			<h1 itemprop="name">
					<%= page.tag %>
			</h1>
	</header>
	<%- partial('_partial/articles')%>
</div>
