<div id="tags-archives" class="content-tags">

	<header class="tags-header" style="background-image: url('/blog/images/<%- theme.header_default %>')">
			<h1 itemprop="name"> Tags</h1>
	</header>
	<div class="tags-body">
  <section>
    <% site.tags.sort('name').each(function(tag) { %>
        <a class="tag tag--primary tag--small" href="<%= '#' + tag.name + '-list' %>" data-tag="<%= tag.name.toLowerCase() %>">
						<i class="icon-tag"></i>
            <%= tag.name %>
        </a>
    <% }); %>
	</section>
    <section class="tag-wrap">
        <% site.tags.sort('name').each(function(tag) { %>
            <div id="<%= tag.name + '-list' %>" class="tag-box" data-tag="<%= tag.name.toLowerCase() %>">
                <h1 class="archive-title">
                    <a class="link-unstyled" href="<%- url_for(config.tag_dir + '/' + tag.slug) %>">
                        <%= tag.name + ' (' + tag.length + ')' %>
                    </a>
                </h1>
                <ul class="archives">
                    <% site.tags.findOne({'name': tag.name}).posts.sort('date', 'desc').each(function(post) { %>
                        <li class="">
                            <a class="archive-post-title" href="<%- url_for(post.path) %>">
															<h3>
																<i class="icon-arrow-right"></i>
                                <%= post.title || '(' + __('post.no_title') + ')' %>
															</h3>
                            </a>

                        </li>
														<div class="article-meta clearfix">
																<%- partial('_partial/post/date', {post: post, icon: true, date_format: null}) %>
														</div>
                    <% }) %>
                </ul>
            </div>
        <% }); %>
    </section>
		</div>
</div>
