<aside id="aside" class="aside">
    <div id="aside-mask" class="aside-mask"></div>
    <div id="aside-inner" class="aside-inner">
        <%- search_form({button: '<i class="icon-search-stroke"></i>'}) %>

        <div class="author-meta">
            <% if( site.data.authors[page.author].picture ) { %>
            <div class="author-avatar">
                <a href="<%- url_for() %>">
                    <img src="<%= url_for(site.data.authors[page.author].picture) %>" title="<%= page.author %>">
                </a>
            </div>
            <% } %>
            <div class="author-name"><%=  site.data.authors[page.author].name  %></div>
            <div class="author-work"><%-  site.data.authors[page.author].work  %></div>
            <div class="author-location">
                <i class="icon-location vm"></i>
                <span class="vm"><%=  site.data.authors[page.author].location  %></span>
            </div>
            <div class="author-thread-wrap">
                <div class="author-threads clearfix">
                    <% if( site.data.authors[page.author].github  ) { %>
                    <a class="thread-item" href="<%=  site.data.authors[page.author].github  %>" target="_blank" rel="noopener"><i class="icon-github"></i></a>
                    <% } %>
                    <% if(  site.data.authors[page.author].email  ) { %>
                    <a class="thread-item" href="mailto:<%= site.data.authors[page.author].email %>" target="_blank" rel="noopener"><i class="icon-circle-more"></i></a>
                    <% } %>
                    <% if( site.data.authors[page.author].linkedin ) { %>
                    <a class="thread-item" href="<%=  site.data.authors[page.author].linkedin  %>" target="_blank" rel="noopener"><i class="icon-linkedin"></i></a>
                    <% } %>
                </div>
            </div>
        </div>
        <% if( is_post() ) { %>
        <%- toc(page.content) %>
        <% } %>
    </div>
</aside>
