<%
    var cssClass = "style" + (index % 12 + 1);
		var catdata = site.data.categories ;
%>

<article class="<%- cssClass %>">
    <span class="image">
        <img src="<%- catdata.image[item.name] || catdata.image.default %>" alt="" />
    </span>
    <a href="<%- config.root %><%- item.path %>">
        <h2><%- catdata.name[item.name] || theme.default_post_title || "Untitled" %></h2>
        <div class="content">
            <p><%- catdata.description[item.name] || "" %></p>
        </div>
    </a>
</article>
