<header class="clearfix <% if( is_post() || is_current('authors/emrick')) { %> header-side<% } else {%> header<% } %>">
    <%- partial('nav') %>
		<% if( is_post() || is_current('authors/emrick')) { %>
			<%- partial('aside') %>
		<% } %>


</header>
